@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

/* Antd drawer right side closer */
.ant-drawer-header-title {
    flex-direction: row-reverse;
}

/* Antd date picker dropdown vertical on small screens */
.ant-picker-dropdown .ant-picker-panel-container .ant-picker-panels {
    display: inline-flex;
    animation: none;
    flex-wrap: nowrap;
    direction: ltr;
    @media (max-width: 768px) {
        display: inline-grid;
    }
}